<div class="section fp-auto-height" id="last">
    <div class="myContent footer-wrap">
        <div class="footer-con">
            <div class="footer-width">
                <div class="footer-info">
                    <h2 class="footer-logo"><span class="hid">SmartPapering</span></h2>
                    <p class="address">07326) 서울 영등포구 국제금융로 10,<br>17F(여의도동, 서울국제금융센터 Two IFC 빌딩)</p>
                    <div class="seven-info">
                        <p>사업자등록번호: 821-81-00691</p>
                        <p>대표이사: 김종현</p>
                        <p>개인정보관리책임자: 김종현</p>
                    </div>
                </div>
                <div class="seven-contact">
                    <p class="contact-mark">CONTACT US</p>
                    <ul class="contact-list">
                        <li>
                            <span class="contact-tit">TEL</span>
                            <p class="contact-txt">(02)6956-7315</p>
                        </li>
                        <li>
                            <span class="contact-tit">채용 문의</span>
                            <p class="contact-txt">ceo@7fintech.co.kr</p>
                        </li>
                        <li>
                            <span class="contact-tit">기술 문의</span>
                            <p class="contact-txt">developer@7fintech.co.kr</p>
                        </li>
                    </ul>
                </div>
                <div class="footer-nav">
                    <ul class="">
                        <li><a href="#">이용약관</a></li>
                        <li><a href="#">개인정보처리방침</a></li>
                    </ul>
                    <p class="copy">COPYRIGHT 2019ⓒ7fintech, ALL RIGHT RESERVED.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="myContent mobile-footer">
        <div class="mobile-footercon">
            <div class="mobile-logo"><span class="hid">도배GO</span></div>
            <ul class="mobile-nav">
                <li><a href="#">이용약관</a></li>
                <li><a href="#">개인정보처리방침</a></li>
            </ul>
            <div class="mobile-info">
                <p class="mobile-address">07326) 서울 영등포구 국제금융로 10,<br>17F(여의도동, 서울국제금융센터 Two IFC 빌딩)</p>
                <ul class="mobile-infolist">
                    <li>사업자등록번호: 821-81-00691</li>
                    <li>대표이사: 김종현</li>
                    <li>개인정보관리책임자: 김종현</li>
                </ul>
            </div>
            <div class="mobile-contact">
                <h5 class="mobile-contit">CONTACT US</h5>
                <p class="mobile-contxt">
                    <span class="mobile-conlabel">TEL</span>
                    <span class="mobile-coninfo">(02)6956-7315</span>
                </p>
                <p class="mobile-contxt">
                    <span class="mobile-conlabel">기술 문의</span>
                    <span class="mobile-coninfo">developer@7fintech.co.kr</span>
                </p>
                <p class="mobile-contxt">
                    <span class="mobile-conlabel">채용문의</span>
                    <span class="mobile-coninfo">cmo@7fintech.co.kr</span>
                </p>
            </div>
            <p class="mobile-copy">COPYRIGHT 2019ⓒ7fintech, ALL RIGHT RESERVED.</p>
        </div>
    </div>
</div>