<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- <link rel="shortcut icon" href="/copy_trading_system_cms.ico" /> -->
    <title>CMS : Login</title>
    <script>
        if (typeof module === 'object') {
            window.module = module;
            module = undefined;
        }
    </script>
    <script src="../../libs/jquery.min.js"></script>
    <link rel="stylesheet" href="../../css/login.css">
</head>

<body>
    <div class="login-page">
        <div class="form">
            <!-- <img src="./images/login.png"/> -->
            <img src="../../images/pamcms_logo1.png" class="login-img-filter"/>
            <form class="login-form">
                <input type="text" placeholder="아이디" id="userid"/>
                <input type="password" placeholder="비밀번호" id="password"/>
                <button class="submit-action">로그인</button>
            </form>
        </div>
    </div>
    <script src="../../cms_js/login.js">
    </script>
</body>

</html>