<html>

<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=9" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">
    <!-- <link rel="shortcut icon" href="/copy_trading_system_cms.ico" /> -->
    <link rel="stylesheet" type="text/css" href="../../css/ag-grid.css">
    <link rel="stylesheet" type="text/css" href="../../css/ag-theme-balham.css">
    <link rel="stylesheet" type="text/css" href="../../ui/carbon.css">
    <link rel="stylesheet" type="text/css" href="../../css/style.css">
    <script>
        if (typeof module === 'object') {
            window.module = module;
            module = undefined;
        }
    </script>
    <script src="../../libs/jquery.min.js"></script>
    <script src="../../libs/jquery.ba-resize.min.js"></script>
    <script src="../../libs/underscore-min.js"></script>
    <script src="../../libs/ext-all.js"></script>
    <script src="../../libs/moment.min.js"></script>
    <script src="../../libs/async.min.js"></script>
    <script src="../../libs/accounting.min.js"></script>
    <script src="../../libs/socket.io.min.js"></script>

    <!-- 시작 -->
    <script src="../../cms_js/app.js"></script>

    <!-- 기타 -->
    
    <script src="../../cms_js/app.buttons.js"></script>
    <script src="../../cms_js/app.tools.js"></script>
    <script src="../../cms_js/app.roleSettings.js"></script>
    <script src="../../cms_js/app.combo.js"></script>

    <!-- common -->
    <script src="../../cms_js/app.common.common_model.js"></script>
    <script src="../../cms_js/app.common.common_store.js"></script>
    <script src="../../cms_js/app.common.menu.js"></script>
    <script src="../../cms_js/app.common.field_maker.js"></script>
    <script src="../../cms_js/app.common.formatter.js"></script>
    <script src="../../cms_js/app.common.field_set.js"></script>
    <script src="../../cms_js/app.common.field_set_summary.js"></script>

    <!-- preset -->
    <script src="../../cms_js/app.preset.order.js"></script>
    <script src="../../cms_js/app.preset.end_order.js"></script>
    <script src="../../cms_js/app.preset.member.js"></script>
    <script src="../../cms_js/app.preset.cancel_order.js"></script>
    <script src="../../cms_js/app.preset.withdraw.js"></script>
    <script src="../../cms_js/app.preset.end_withdraw.js"></script>
    
    <!-- method -->
    <script src="../../cms_js/app.method.grid_panel.js"></script>
    <script src="../../cms_js/app.method.common_panel.js"></script>
    <script src="../../cms_js/app.method.form_pannel.js"></script>
    
    <!-- preset 데이터 -->



    <!-- window ui배치 -->
    <script src="../../cms_js/app.window.dashboard.js"></script>
    

    <script src="../../cms_js/main.js"></script>
    <title>도배GO : CMS</title>
</head>

<body oncontextmenu="return false" ondragstart="return false" onselectstart="return false">
</body>

</html>