a{
    text-decoration: none;
    color: #ffffff;
}

.login-page {
    width: 100%;
    margin: auto;
    position: absolute;
    top: 25%;
    opacity: 0.9;
}

.signup-page{
    width: 100%;
    margin: auto;
    position: absolute;
    top: 25%;
    opacity: 0.9;
}

.admin-enroll{
    font-family: sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #FEB815;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
    margin-top: 10px;
}

.login-img-filter {
    /* filter: opacity(.5) drop-shadow(0 0 0 rgb(32, 18, 230)); */
    /* fill: #043362; */
    /* color: #043362; */
    margin-bottom: 33px;
    width: 70%;
}

.form {
    position: relative;
    z-index: 1;
    background: #FFF;
    max-width: 410px;
    margin: 0 auto 100px;
    padding: 50px;
    box-sizing: border-box;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

h5 {
    margin: 0;
    padding: 0;
    margin-bottom: 30px;
}

.form input {
    font-family: sans-serif;
    outline: 0;
    background: #ffffff;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
    border: 1px solid #dadada;
}

.form button {
    font-family: sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #87c1fc;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
    margin-top: 10px;
}

.form button:hover,
.form button:active,
.form button:focus {
    background: #25a4cd;
}

.form .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 12px;
}

.form .message a {
    color: #4CAF50;
    text-decoration: none;
}

.form .register-form {
    display: none;
}

.container {
    position: relative;
    z-index: 1;
    max-width: 300px;
    margin: 0 auto;
}

.container:before,
.container:after {
    content: "";
    display: block;
    clear: both;
}

.container .info {
    margin: 50px auto;
    text-align: center;
}

.container .info h1 {
    margin: 0 0 15px;
    padding: 0;
    font-size: 36px;
    font-weight: 300;
    color: #1a1a1a;
}

.container .info span {
    color: #4d4d4d;
    font-size: 12px;
}

.container .info span a {
    color: #000000;
    text-decoration: none;
}

.container .info span .fa {
    color: #EF3B3A;
}

body {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
    background-position: 50% 0;
    background-size: cover;
    background-image: url('../images/login_main.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
}