* {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -o-user-select: none;
    user-select: none;
}

p {
    -webkit-user-select: text;
    -khtml-user-select: text;
    -moz-user-select: text;
    -o-user-select: text;
    user-select: text;
}

html {
    width: 100%;
    height: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.full-box {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: 0;
    padding: 0;
    overflow-y: auto;
}

.font-green {
    color: #97fb36;
}

.font-yellow {
    color: #ffd226;
}

.font-orange {
    color: #fb8c50;
}

.font-red {
    color: #ff3360;
}

.font-purple {
    color: #db83ff;
}

.font-blue {
    color: #007AFF;
}

.font-skyblue {
    color: #44edff;
}

.x-grid-cell-inner {
    font-size: 11px;
}

.x-grid-row-summary .x-grid-cell {
    background-color: #002650;
}

.x-grid-locked .x-grid-inner-locked {
    border-color: #141414;
}

#customer_summary_wrapper .x-grid-cell-inner:active {
    border: 1px solid #eee;
    padding: 1px 5px 2px;
}

#customer_summary_wrapper .x-grid-view.x-fit-item.x-grid-view-default.x-unselectable {
    border-bottom: none !important;
}

.button-excel {
    background-image: url('../images/excel.png');
}

.x-mask-msg {
    z-index: 99999
}