<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="title" content="개인정보취급방침">
    <link rel="stylesheet" href="../../css/terms/terms.css">
    <title>개인정보취급방침</title>


</head>

<body>
   
    <div class="privacy-bg">
    <div class="privacy">
        <div class="agreement-close"></div>
        <div class="privacy-wrap">
            <div class="row">
                <div class="col p-3">
                    <p class="font-weight-bold">개인정보취급방침</p>
                    <p class="text-dark">세븐핀테크(주)(이하 '회사'라고 합니다)는 이용자의 개인정보를 중요시하며, 「정보통신망 이용촉진 및 정보보호에 관한 법률」 및 「개인정보 보호법」 등 개인정보 보호 법령을 준수하고 있습니다.</p>
                    <p class="text-dark">회사는 본 개인정보 처리방침을 통하여 이용자가 제공하는 개인정보가 어떠한 용도와 방식으로 이용되고 있으며, 회사가 개인정보보호를 위하여 어떠한 조치를 취하고 있는지 알려드립니다.</p>
                </div>
            </div>
            <div class="row border-bottom">
                <div class="col p-3">
                    <p class="font-weight-bold">1. 회사가 수집하는 개인정보의 항목 및 수집방법</p>
                    <p class="text-dark">1. 회사가 수집하는 개인정보의 항목</p>
                    <p class="text-dark small">1) 회사는 최초 회원가입시 회원식별 및 최적화된 서비스의 제공을 위하여 이용자로부터 다음과 같은 정보를 수집합니다.</p>
                    <p class="text-dark small">- 필수항목 : 아이디, 비밀번호, 성명, 생년월일, 성별, 가입인증 휴대전화번호, 비상 연락용 이메일 주소, 주소, 전화번호(자택, 회사), 국적</p>
                    <p class="text-dark small">- 선택항목 : 결혼정보, 직업정보(선택항목은 입력하지 않아도 회원가입이 가능합니다.)</p>
                    <p class="text-dark small">2) 회원 아이디를 이용한 부가 서비스 및 맞춤형 서비스 이용 또는 이벤트 응모 과정에서 해당 서비스의 이용자에 한하여 다음과 같은 정보들이 수집될 수 있습니다.</p>
                    <p class="text-dark small">- 아이디, 성명, 생년월일, 성별, 휴대전화번호, 이메일 주소 등</p>
                    <p class="text-dark small">3) 일부 서비스 이용시 관련 법령 준수를 위해 본인인증이 필요한 경우, 다음과 같은 정보들이 수집될 수 있습니다.</p>
                    <p class="text-dark small">- 성명, 생년월일, 성별, 중복가입확인정보(DI), 암호화된 동일인 식별정보(CI), 휴대전화번호(선택), 아이핀 번호(아이핀 이용시), 국적</p>
        

                    <p class="text-dark">2. 개인정보의 수집방법</p>
                    <p class="text-dark small">회사는 다음과 같은 방법으로 개인정보를 수집합니다.</p>
                    <p class="text-dark small">- 홈페이지, 서면양식, 휴대전화, 앱</p>
                    <p class="text-dark small">- 팩스, ARS전화, 상담게시판, 이메일, 이벤트 응모, 배송요청</p>
                    <p class="text-dark small">- 협력회사로부터의 제공</p>
                </div>
            </div>

            <div class="row border-bottom">
                <div class="col p-3">
                    <p class="font-weight-bold">2. 개인정보의 수집∙이용 목적</p>
                    <p class="text-dark">회사는 “1. 나. 개인정보의 수집방법”에서 정하는 수집방법을 통해 최소한의 개인정보를 수집하여 이용하며, 수집한 개인정보를 이용자들이 회원가입 및 회사에 재화 또는 용역을 주문하거나 회사가 제공하는 각종 서비스를 이용함에 있어, 원활한 회원가입, 주문 및 서비스 접수, 물품배송, 대금결제 등 이용자에게 편리하고 유익한 맞춤 서비스를 제공하기 위한 목적으로 이용합니다.</p>
                    <p class="text-dark small">1) 서비스 제공에 관한 계약 이행 및 서비스 제공에 따른 요금정산</p>
                    <p class="text-dark small">- 콘텐츠 제공, 물품배송 또는 청구서 등 발송, 금융거래 본인 인증 금융서비스, 구매 및 요금 결제, 요금추심</p>
                    <p class="text-dark small">2) 회원 관리</p>
                    <p class="text-dark small">- 회원제 서비스 이용에 따른 본인확인, 개인식별, 불량회원의 부정 이용 방지와 비인가 사용 방지, 가입 의사 확인, 가입 및 가입횟수 제한</p>
                    <p class="text-dark small">3) 마케팅 및 광고에의 활용</p>
                    <p class="text-dark small">- 신규 서비스(제품) 개발 및 특화, 인구통계학적 특성에 따른 서비스 제공 및 광고게재, 접속 빈도 파악, 회원의 서비스 이용에 대한 통계, 이벤트 등 광고성 정보 전달(이용자의 개인정보는 광고를 의뢰한 개인이나 단체에게는 제공되지 않습니다)</p>
                    <p class="text-dark small">- 마케팅 및 광고에 개인정보가 활용되는 경우는 별도로 이용자로부터 동의를 받고 있으며, 동의를 거부하더라도 서비스 이용이 제한되지 않습니다.</p>
                    <p class="text-dark">이용자가 제공한 모든 정보는 상기 목적에 필요한 용도 이외의 용도로는 사용되지 않으며, 수집정보의 범위나 사용 목적, 용도가 변경될 시에는 반드시 이용자에게 사전 동의를 구할 것입니다.</p>
                </div>
            </div>

            <div class="row border-bottom">
                <div class="col p-3">
                    <p class="font-weight-bold">3. 개인정보의 보유 및 이용 기간</p>
                    <p class="text-dark">회사는 원칙적으로 개인정보 수집 및 이용 목적이 달성된 이후에는 해당 정보를 지체 없이 파기합니다. 단, 관련 법령의 규정에 의하여 보존할 필요가 있는 경우 회사는 다음과 같이 관련 법령에서 규정하는 일정 기간 동안 이용자의 정보를 보관합니다.</p>

                    <p class="text-dark font-weight-bold">1. 이용자에게 개인정보 보존기간과 관련하여 별도의 동의를 얻는 경우는 다음과 같습니다.</p>
                    <p class="text-dark small">1) 부정이용기록</p>
                    <p class="text-dark small"> ※ ‘부정이용기록’이란 부정가입 및 운영원칙에 위배되는 게시글 작성 등으로 인하여 회사로부터 이용제한 등을 당한 기록을 말합니다.</p>
                    <p class="text-dark small">1. 보존 항목 : 성명, 아이디, 이메일 주소, 주소, 전화번호, 휴대전화번호</p>
                    <p class="text-dark small">- 보존 기간 : 회원 탈퇴 후 1년</p>

                    <p class="text-dark font-weight-bold">2. 상거래 관련 보존 개인정보</p>
                    <p class="text-dark small">1. 보존 항목 : 계약 또는 청약철회 등에 관한 기록</p>
                    <p class="text-dark small">- 보존 기간 : 5년</p>
                    <p class="text-dark small">- 보존 근거 : 「전자상거래 등에서의 소비자보호에 관한 법률」 제6조 및 동법 시행령 제6조</p>
                    <p class="text-dark small">2. 보존 항목 : 대금결제 및 재화, 서비스 등의 공급에 관한 기록</p>
                    <p class="text-dark small">- 보존 기간 : 5년</p>
                    <p class="text-dark small">- 보존 근거 : 「전자상거래 등에서의 소비자보호에 관한 법률」 제6조 및 동법 시행령 제6조</p>
                    <p class="text-dark small">3. 보존 항목 : 소비자의 불만 또는 분쟁처리에 관한 기록</p>
                    <p class="text-dark small">- 보존 기간 : 3년</p>
                    <p class="text-dark small">- 보존 근거 : 「전자상거래 등에서의 소비자보호에 관한 법률」 제6조 및 시행령 제6조</p>
                    <p class="text-dark small">4. 보존 항목 : 신용정보의 수집, 처리 및 이용 등에 관한 기록</p>
                    <p class="text-dark small">- 보존 기간 : 3년</p>
                    <p class="text-dark small">- 보존 근거 : 「신용정보의 이용 및 보호에 관한 법률」제20조</p>
                    <p class="text-dark small">5. 보존 항목 : 전자금융에 관한 기록</p>
                    <p class="text-dark small">- 보존 기간 : 5년</p>
                    <p class="text-dark small">- 보존 근거 : 「전자금융거래법」제22조</p>

                    <p class="text-dark font-weight-bold">3. 웹사이트 방문기록</p>
                    <p class="text-dark small">1. 보존 항목 : 웹 사이트 방문기록</p>
                    <p class="text-dark small">- 보존 기간 : 3개월</p>
                    <p class="text-dark small">- 보존 근거 : 「통신비밀보호법」 제15조의2 및 시행령 제41조</p>
                </div>
            </div>

            <div class="row border-bottom">
                <div class="col p-3">
                    <p class="font-weight-bold">4. 개인정보의 파기절차 및 방법</p>
                    <p class="text-dark">이용자의 개인정보는 원칙적으로 개인정보의 수집 및 이용목적이 달성되면 지체 없이 파기합니다. 회사의 개인정보 파기절차 및 방법은 다음과 같습니다.</p>

                    <p class="text-dark font-weight-bold">1. 파기절차</p>
                    <p class="text-dark small">- 회사는 “3. 개인정보의 보유 및 이용 기간”에 명시한 기간이 경과하는 경우 당해 개인정보를 지체 없이 파기합니다.</p>
                    <p class="text-dark font-weight-bold">2. 파기방법</p>
                    <p class="text-dark small">- 종이에 출력된 개인정보는 분쇄기로 분쇄하거나 소각을 통하여 파기합니다.</p>
                    <p class="text-dark small">- 전자적 파일 형태로 저장된 개인정보는 기록을 재생할 수 없는 기술적 방법을 사용하여 삭제하며, 어떠한 용도로도 열람 또는 이용될 수 없도록 처리합니다. 단, 이때 기록을 재생할 수 없는 기술적 방법은 사회통념상 현재의 기술수준에서 적절한 비용이 소요되는 방법을 말합니다.</p>
                    <p class="text-dark small">- 해당 개인정보의 처리가 제3자에게 위탁된 경우에는 위탁업무가 종료되는 경우 수탁자가 더 이상 해당 개인정보를 처리하지 못하도록 파기, 반환 등의 조치를 취합니다.</p>
                    <p class="text-dark font-weight-bold">3. 이용하지 아니하는 이용자의 개인정보의 파기 등</p>
                    <p class="text-dark small">- 회사는 ‘개인정보 유효기간제’에 따라 1년간 서비스를 이용하지 않은 개인정보를 별도로 분리하여 저장, 관리하고 있습니다. 해당 기간은 로그인, 상담원 접촉일자 등으로 산정하며 법령에서 정의한 기간 동안 분리하여 저장, 관리합니다. 단, 기간만료 30일 전까지 개인정보가 파기되거나 분리되어 저장, 관리되는 사실과 기간 만료일 및 해당 개인정보의 항목을 전자우편, 서면, 모사전송, 전화 또는 이와 유사한 방법
                        중 어느 하나의 방법으로 이용자에게 알려드립니다.</p>
                        <p class="text-dark font-weight-bold">4. 이용자 및 법정대리인의 권리와 그 행사방법</p>
                        <p class="text-dark small">- 이용자는 언제든지 회사에 등록되어 있는 자신의 개인정보를 조회하거나 수정할 수 있으며 가입 해지를 요청할 수도 있습니다.</p>
                        <p class="text-dark small">- 이용자들의 개인정보 조회, 수정을 위해서는 '개인정보 변경'(또는 '회원정보수정' 등)을 클릭하여 조회, 수정이 가능합니다.</p>
                        <p class="text-dark small">- 가입 해지(동의철회)를 위해서는 "회원탈퇴"를 클릭하여 본인 확인 절차를 거친 후 직접 열람, 정정 또는 탈퇴가 가능합니다. 또한, 개인정보 보호책임자에게 서면, 전화 또는 이메일로 연락하시면 지체 없이 조치합니다.</p>
                        <p class="text-dark small">- 이용자가 개인정보의 오류에 대한 정정을 요청하는 경우에는 정정을 완료하기 전까지 당해 개인정보를 이용 또는 제공하지 않습니다. 또한, 잘못된 개인정보를 제3자에게 이미 제공한 경우에는 정정 처리결과를 제3자에게 지체 없이 통지하여 정정이 이루어지도록 합니다.</p>
                        <p class="text-dark small">- 회사는 이용자의 요청에 의해 해지 또는 삭제된 개인정보를 "3. 개인정보의 보유기간 및 이용 기간" 및 “4. 개인정보의 파기절차 및 방법”에 명시된 바에 따라 처리하고 그 외의 용도로 열람 또는 이용할 수 없도록 처리합니다.</p>
                </div>
            </div>

            <div class="row border-bottom">
                <div class="col p-3">
                    <p class="font-weight-bold">5. 개인정보 자동 수집 장치의 설치·운영 및 거부에 관한 사항</p>
                    <p class="text-dark font-weight-bold"></p>
                    <p class="text-dark small"></p>

                    <p class="text-dark font-weight-bold">1. 쿠키란?</p>
                    <p class="text-dark small">- 회사는 개인화되고 맞춤화된 서비스를 제공하기 위해서 이용자의 정보를 저장하고 수시로 불러오는 '쿠키(cookie)'를 사용합니다.</p>
                    <p class="text-dark small">- 쿠키는 웹사이트를 운영하는데 이용되는 서버가 이용자의 브라우저에게 보내는 아주 작은 텍스트 파일로 이용자 컴퓨터의 하드디스크에 저장됩니다. 이후 이용자가 웹사이트에 방문할 경우 웹사이트 서버는 이용자의 하드 디스크에 저장되어 있는 쿠키의 내용을 읽어 이용자의 환경설정을 유지하고 맞춤화된 서비스를 제공하기 위해 이용됩니다.</p>
                    <p class="text-dark small">- 쿠키는 개인을 식별하는 정보를 자동적/능동적으로 수집하지 않으며, 이용자는 언제든지 이러한 쿠키의 저장을 거부하거나 삭제할 수 있습니다.</p>
                    <p class="text-dark font-weight-bold">2. 회사의 쿠키 이용 목적</p>
                    <p class="text-dark small">- 이용자들이 방문한 회사의 각 서비스와 웹 사이트들에 대한 방문 및 이용형태, 인기 검색어, 보안접속 여부, 뉴스편집, 이용자 규모 등을 파악하여 이용자에게 광고를 포함한 최적화된 맞춤형 정보를 제공하기 위해 사용합니다.</p>
                    <p class="text-dark font-weight-bold">3. 쿠키의 설치/운영 및 거부</p>
                    <p class="text-dark small">- 이용자는 쿠키 설치에 대한 선택권을 가지고 있습니다. 따라서 이용자는 웹브라우저에서 옵션을 설정함으로써 모든 쿠키를 허용하거나, 쿠키가 저장될 때마다 확인을 거치거나, 아니면 모든 쿠키의 저장을 거부할 수도 있습니다. 다만, 쿠키의 저장을 거부하는 경우에는 로그인이 필요한 회사가 제공하는 일부 서비스 이용에 어려움이 있을 수 있습니다.</p>
                    <p class="text-dark small">- 쿠키 설치 허용 여부를 지정하는 방법(Internet Explorer의 경우)은 다음과 같습니다.</p>
                    <p class="text-dark small">① [도구] 메뉴에서 [인터넷 옵션]을 선택합니다.</p>
                    <p class="text-dark small">② [개인정보 탭]을 클릭합니다.</p>
                    <p class="text-dark small">③ [개인정보취급 수준]을 설정하시면 됩니다.</p>
                </div>
            </div>

            <div class="row border-bottom">
                <div class="col p-3">
                    <p class="font-weight-bold">6. 개인정보의 기술적·관리적 보호 대책</p>
                    <p class="text-dark">회사는 이용자의 개인정보를 처리함에 있어 개인정보가 분실, 도난, 누출, 변조 또는 훼손되지 않도록 안전성 확보를 위하여 다음과 같은 기술적·관리적 대책을 강구하고 있습니다. 단, 이용자 본인의 부주의나 인터넷상 기술적인 문제로 인한 비밀번호, 주민등록번호 등 개인정보가 유출되어 발생하는 문제에 대해서 회사는 일체의 책임을 지지 않습니다.</p>
                    <p class="text-dark font-weight-bold"></p>
                    <p class="text-dark small"></p>

                    <p class="text-dark font-weight-bold">1. 기술적 보호대책</p>
                    <p class="text-dark small">- 회사는 비밀번호를 암호화하여 저장 및 관리하고 있어, 이용자 본인만이 개인정보의 확인 및 변경을 할 수 있습니다.</p>
                    <p class="text-dark small">- 회사는 해킹이나 컴퓨터 바이러스 등에 의해 이용자의 개인정보가 유출되거나 훼손되는 것을 막기 위해 최선을 다하고 있습니다.</p>
                    <p class="text-dark small">- 회사는 개인정보의 훼손에 대비해서 자료를 수시로 백업하고 있으며, 최신 백신프로그램을 이용하여 이용자의 개인정보나 자료가 누출되거나 손상되지 않도록 방지하고 있습니다.</p>
                    <p class="text-dark small">- 회사는 암호화 통신 등을 통하여 네트워크상에서 개인정보를 안전하게 송·수신할 수 있도록 하고 있습니다.</p>
                    <p class="text-dark small">- 회사는 침입차단시스템을 이용하여 외부로부터의 무단 접근을 통제하고 있으며, 그 외 시스템적인 보안성을 확보하기 위해 가능한 모든 기술적 장치를 갖추려 노력하고 있습니다.</p>
                    <p class="text-dark font-weight-bold">2. 관리적 보호대책</p>
                    <p class="text-dark small">- 회사는 개인정보관련 취급 직원을 개인정보 보호책임자 및 개인정보 처리담당자에 한정시키고 이를 위한 별도의 비밀번호를 부여하고, 정기적으로 갱신하고 있습니다.</p>
                    <p class="text-dark small">- 회사는 회사 내 개인정보 보호 관련 부서를 통해 회사의 개인정보 처리방침 이행 사항 및 담당자의 준수여부를 확인하여 문제가 발견될 경우 즉시 수정하고 바로 잡을 수 있도록 노력하고 있습니다.</p>
                </div>
            </div>



            <div class="row border-bottom">
                <div class="col p-3">
                    <p class="font-weight-bold">7. 개인정보 보호책임자 및 민원서비스</p>
                    <p class="text-dark"></p>
                    <p class="text-dark small"></p>

                    <p class="text-dark font-weight-bold">1. 개인정보 보호책임자</p>
                    <p class="text-dark small">회사는 이용자의 개인정보를 보호하고 개인정보와 관련한 불만을 처리하기 위하여 다음과 같이 개인정보 관리책임자를 지정하고 있습니다.</p>
                    <p class="text-dark small">① 개인정보 관리책임자: 김종현</p>
                    <p class="text-dark small">전자우편: partner@7fintech.co.kr</p>
                    <p class="text-dark small">전화번호: 02-6956-7315</p>
                    <p class="text-dark font-weight-bold">2. 개인정보에 관한 민원서비스</p>
                    <p class="text-dark small">- 이용자는 회사의 서비스를 이용하며 발생하는 모든 개인정보 보호 관련 민원을 개인정보 보호책임자 또는 개인정보 관리담당자에게 신고하실 수 있습니다.</p>
                    <p class="text-dark small">- 회사는 이용자의 신고사항에 대해 신속하게 충분한 답변을 드릴 것입니다.</p>
                    <p class="text-dark small">- 회사 이외에 개인정보 침해에 대한 신고나 상담이 필요하신 경우에는 아래 기관에 문의하실 수 있습니다.</p>
                    <p class="text-dark small">개인분쟁조정위원회 (www.1336.or.kr/1336)</p>
                    <p class="text-dark small">정보보호마크인증위원회 (www.eprivacy.or.kr/02-580-0533~4)</p>
                    <p class="text-dark small">대검찰청 인터넷범죄수사센터 (http://icic.sppo.go.kr/02-3480-3600)</p>
                    <p class="text-dark small">경찰청 사이버테러대응센터 (www.ctrc.go.kr/02-392-0330)</p>
                </div>
            </div>

     
            <!-- <div class="row border-bottom">
                <div class="col p-3">
                    <p class="font-weight-bold">8. 기타</p>
                    <p class="text-dark">더한투자자문에 링크되어 있는 웹사이트에서 개인정보를 수집하는 행위에 대해서는 본 “개인정보 처리방침”이 적용되지 않음을 알려드립니다.</p>
                </div>
            </div> -->

            <div class="row border-bottom">
                <div class="col p-3">
                    <p class="font-weight-bold">9. 고지 의무</p>
                    <p class="text-dark">회사는 이용자가 본 “개인정보 처리방침”을 포함한 기타 개인정보보호에 대한 상세한 내용을 회사가 운영하는 “도배GO” 애플리케이션의 마이페이지에서 용이하게 확인하실 수 있도록 조치하고 있습니다.</p>
                    <p class="text-dark">이용자께서는 본 “개인정보 처리방침”의 내용은 수시로 변경될 수 있으므로 애플리케이션에 접속할 시 이를 확인하시기 바랍니다.</p>
                    <p class="text-dark">회사는 “개인정보 처리방침”의 내용이 추가, 삭제 및 수정되는 경우에는 개정 최소 7일 전부터 공지사항을 통해 개정 사항을 고지합니다.</p>
                    <p class="text-dark">- 시행일자: 2021년 05월 03일</p>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

</html>