@font-face {
    font-family: 'rajdhani';
    font-weight: 300;
    src: url('../font/Rajdhani-Light.ttf') format("truetype");
}

@font-face {
    font-family: 'rajdhani';
    font-weight: 400;
    src: url('../font/Rajdhani-Regular.woff') format("woff");
}

@font-face {
    font-family: 'rajdhani';
    font-weight: 500;
    src: url('../font/Rajdhani-Medium.woff') format("woff");
}

@font-face {
    font-family: 'rajdhani';
    font-weight: 600;
    src: url('../font/Rajdhani-SemiBold.woff') format("woff");
}

@font-face {
    font-family: 'rajdhani';
    font-weight: 700;
    src: url("../font/Rajdhani-Bold.woff") format("woff");
}

@font-face {
    font-family: 'ns';
    font-weight: 300;
    src: url("../font/NanumSquareL.woff") format("woff");
}

@font-face {
    font-family: 'ns';
    font-weight: 400;
    src: url("../font/NanumSquareR.woff") format("woff");
}

@font-face {
    font-family: 'ns';
    font-weight: 700;
    src: url("../font/NanumSquareB.woff") format("woff");
}

@font-face {
    font-family: 'ng';
    font-weight: 400;
    src: url("../font/NanumGothic-Regular.woff") format("woff");
}

@font-face {
    font-family: 'ng';
    font-weight: 700;
    src: url("../font/NanumGothic-Bold.woff") format("woff");
}

body,
input,
select,
textarea,
button {
    font-family: 'Rajdhani', 'ns', Helvetica, tahoma, sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}


/* 공통영역 */

.f-bold {
    font-weight: 800;
}

.white {
    color: #ffffff;
}

.hid {
    display: none;
}


/* TOP 영역 */

.top {
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
}

.header-con {
    max-width: 1300px;
    width: 90%;
    height: 60px;
    margin: 30px auto 0;
}

.top a {
    color: #ffffff;
}

.seven-logo {
    float: left;
    width: 280px;
    height: 25px;
    background-image: url("../../images/logo.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}

.seven-logo a {
    display: block;
    width: 100%;
    height: 100%;
}

.gnb {
    float: right;
}

.gnb li {
    float: left;
    margin-left: 55px;
    opacity: 0.7;
}

.gnb li.on {
    opacity: 1;
    border-bottom: solid 2px #ffffff;
}

.gnb a {
    font-size: 23px;
    line-height: 27px;
    font-weight: 600;
}

.gnb .language {
    margin-left: 65px;
    width: 110px;
    border: solid 1px #ffffff;
    box-sizing: border-box;
}

.language-con {
    width: 50%;
    float: left;
    text-align: center;
    line-height: 27px;
    color: #ffffff;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: -0.12px;
    cursor: pointer;
}

.language-con.on {
    background-color: #ffffff;
    color: #4e4d60;
}


/* mobile */

.mobiletop {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 9;
    display: none;
}

.mobiletop-con {
    width: 90%;
    height: 34px;
    margin: 16px auto 0;
}

.menu-btn {
    float: right;
    width: 19px;
    height: 20px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-image: url("../../images/menu.png")
}

.menu-bg {
    display: none;
    z-index: 999;
    position: fixed;
    top: 0;
    width: 100%;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 13, 0.7);
}

.mobile-menu {
    display: none;
    width: 69.86666%;
    height: 100vh;
    background-color: #4e4d60;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 9999;
}

.menu-top {
    width: 100%;
    height: 58px;
    border-bottom: solid 1px rgba(255, 255, 255, 0.7);
    position: relative;
}

.language-btn {
    width: 110px;
    height: 24px;
    border: solid 1px #ffffff;
    box-sizing: border-box;
    position: absolute;
    left: 17px;
    top: 50%;
    margin-top: -12px;
}

.close-btn {
    width: 17.4px;
    height: 17.5px;
    background: url("../../images/close_color.png") no-repeat center center;
    background-size: cover;
    position: absolute;
    right: 17px;
    top: 50%;
    margin-top: -8.75px;
}

.menu-list li {
    border-bottom: solid 1px rgba(255, 255, 255, 0.5);
    height: 46px;
}

.menu-list li a {
    line-height: 46px;
    margin-left: 17px;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: -0.15px;
}

.menu-list .menu-con,
.menu-list .product-con {
    border: 0;
}

.menu-list .menu-con {
    position: relative;
}

.page-title {
    line-height: 46px;
    margin-left: 17px;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: -0.15px;
    color: #ffffff;
}

.menu-list .product-con {
    height: 191px;
    background-color: #363544;
    padding: 0;
}

.m-product-info {
    display: inline-block;
    font-size: 12px;
    letter-spacing: -0.1px;
    font-weight: bold;
    margin-top: 18px;
    margin-left: 25px;
    color: rgba(255, 255, 255, 0.59);
}

.m-product {
    margin-top: 15px;
    margin-left: 25px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.m-product a {
    display: block;
    width: 100%;
    height: 100%;
}

.m-wlfa {
    width: 148px;
    height: 14px;
    background-image: url("../../images/wlfa_ci_white.png");
}

.m-thehan {
    width: 148px;
    height: 16px;
    background-image: url("../../images/thehan_ci_white.png");
}

.m-global {
    width: 148px;
    height: 35px;
    background-image: url("../../images/global_ci_white.png");
}

.page-icon {
    display: inline-block;
    width: 12px;
    height: 12px;
    background: url("../../images/a_color.png") no-repeat center center;
    background-size: cover;
    position: absolute;
    right: 17px;
    top: 50%;
    margin-top: -6px;
}


/* color_type */

.top.color_type,
.top.color_type .mobiletop {
    background-color: #ffffff;
}

.top.color_type .seven-logo,
.mobiletop.color_type .seven-logo {
    background-image: url("../../images/logo_color.png");
}

.color_type a {
    color: #4e4d60;
}

.color_type .mobile-menu a {
    color: #ffffff;
}

.color_type .gnb .language {
    border: solid 1px #4e4d60;
}

.color_type .gnb li.on {
    border-bottom: solid 2px #4e4d60;
}

.color_type .language-con {
    width: 50%;
    float: left;
    text-align: center;
    line-height: 27px;
    color: #4e4d60;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: -0.12px;
    cursor: pointer;
}

.color_type .language-con a {
    font-size: 12px;
}

.color_type .language-btn .language-con.on {
    background-color: #ffffff;
    color: #4e4d60;
}

.color_type .language-btn .language-con {
    color: #ffffff;
}

.color_type .language-con.on {
    background-color: #4e4d60;
    color: #ffffff;
}

.color_type .language-con.on a {
    color: #ffffff;
}

.pagination.color_type li {
    background-image: url("../../images/a_color.png");
}

.color_type .menu-btn {
    background-image: url("../../images/menu_color.png");
}


/* footer */

.myContent {
    height: 370px;
}

.footer-wrap {
    display: table;
    width: 100%;
    background-color: #f2f2f2;
}

.footer-con {
    display: table-cell;
    vertical-align: middle;
}

.footer-width {
    display: block;
    max-width: 1300px;
    width: 90%;
    height: 295px;
    margin: 0 auto;
    position: relative;
}

.footer-info {
    display: inline-block;
    vertical-align: top;
    margin-right: 111px;
}

.seven-info {
    margin-top: 22.5px;
}

.footer-logo {
    width: 280px;
    height: 25px;
    background-image: url("../../images/logo_color.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}

.address {
    margin-top: 30px;
}

.footer-info p {
    font-size: 15px;
    letter-spacing: -0.15px;
    color: #555555;
    line-height: 1.5;
}

.seven-contact {
    display: inline-block;
    vertical-align: top;
    margin-top: 57px;
}

.contact-mark {
    font-size: 20px;
    font-weight: 700;
    color: #555555;
    letter-spacing: -0.2px;
}

.contact-list {
    width: 409px;
}

.contact-list li {
    float: left;
    width: 50%;
    margin-top: 33px;
}

.contact-list .contact-tit {
    font-size: 15px;
    letter-spacing: -0.15px;
    color: #848484;
}

.contact-list .contact-txt {
    font-size: 17px;
    letter-spacing: -0.17px;
    color: #555555;
    margin-top: 10px;
}

.footer-nav {
    width: 300px;
    float: right;
}

.footer-nav ul {
    float: right;
}

.footer-nav ul li {
    float: left;
    margin-left: 32px;
}

.footer-nav ul li a {
    font-size: 15px;
    font-weight: 700;
    letter-spacing: -0.15px;
    color: #555555;
}

.copy {
    font-size: 13px;
    font-weight: 700;
    letter-spacing: -0.13px;
    color: #555555;
    position: absolute;
    bottom: 0;
}


/* mobile-footer */

.mobile-footer {
    display: none;
    background-color: #f2f2f2;
}

.mobile-footercon {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    margin: 0 auto;
}

.mobile-logo {
    width: 180px;
    height: 17px;
    background: url("../../images/logo_color.png") no-repeat center center;
    background-size: contain;
    margin: 0 auto;
}

.mobile-nav {
    display: inline-block;
    margin: 30px auto;
}

.mobile-nav li {
    float: left;
    margin-left: 19px;
}

.mobile-nav li:first-child {
    margin-left: 0;
}

.mobile-nav a {
    font-size: 15px;
    font-weight: bold;
    letter-spacing: -0.15;
    color: #555555;
}

.mobile-nav:after {
    clear: both;
    display: block;
    content: '';
}

.mobile-info {
    text-align: center;
    font-size: 15px;
    letter-spacing: -0.15px;
    color: #555555;
    line-height: 1.5;
}

.mobile-infolist {
    margin-top: 20px;
}

.mobile-contact {
    text-align: center;
    margin-top: 45px;
}

.mobile-contxt {
    margin-top: 19px;
}

.mobile-contxt span {
    display: block;
}

.mobile-conlabel {
    font-size: 13px;
    letter-spacing: -0.13px;
    color: #848484;
}

.mobile-coninfo {
    margin-top: 9px;
    font-size: 15px;
    letter-spacing: -0.15px;
    color: #555555;
}

.mobile-copy {
    margin-top: 51px;
    text-align: center;
    font-size: 13px;
    letter-spacing: -0.13px;
    color: #555555;
}

@media all and (max-width: 1250px) {
    .footer-info {
        margin-right: 0.5%;
    }
}

@media all and (max-width: 1110px) {
    .header-con {
        display: none;
    }
    .mobiletop {
        display: block;
    }
    .language-con {
        height: 22px;
        box-sizing: border-box;
        line-height: 22px;
    }
    .color_type .language-con {
        line-height: 22px;
        height: 22px;
    }
    .footer-wrap {
        display: none;
    }
    .mobile-footer {
        display: table;
        width: 100%;
        height: 100vh;
        table-layout:fixed;
    }
}

@media all and (max-width: 500px) {
    /* top */
    .seven-logo {
        width: 218px;
        height: 19px;
    }
}

@media all and (max-width: 330px) {
    /* footer */
    .mobile-copy {
        margin-top: 30px;
    }
    .mobile-info {
        font-size: 14px;
    }
    .mobile-contact {
        margin-top: 30px;
    }
}